<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.jnj.mobile.pm.rsb.100" id="com.jnj.mobile.pm.rsb.100" version="3.0.2">
<author>Chaithanya Srinivasa</author>
<name>PM Mobile RSB</name>
<description>Plant Maintenance</description>
<content src="index.html" />
<platform name="ios">
    <feature name="CDVWebViewEngine">
        <param name="ios-package" value="CDVWebViewEngine" />
    </feature>
    <feature name="LaunchScreen">
        <param name="ios-package" value="CDVLaunchScreen" />
    </feature>
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" />
        <param name="onload" value="true" />
    </feature>
    <feature name="HandleOpenUrl">
        <param name="ios-package" value="CDVHandleOpenURL" />
        <param name="onload" value="true" />
    </feature>
    <feature name="IntentAndNavigationFilter">
        <param name="ios-package" value="CDVIntentAndNavigationFilter" />
        <param name="onload" value="true" />
    </feature>
    <feature name="GestureHandler">
        <param name="ios-package" value="CDVGestureHandler" />
        <param name="onload" value="true" />
    </feature>
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>to take pictures/scan barcodes</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
        <string>to get pictures</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>to find things nearby</string>
    </edit-config>
    <edit-config target="NSFaceIDUsageDescription" file="*-Info.plist" mode="merge">
        <string>to log on</string>
    </edit-config>
    <edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
        <string>capture video audio</string>
    </edit-config>
    <icon src="resources/ios/icon/icon-29.png" width="29" height="29" />
    <icon src="resources/ios/icon/icon-29@2x.png" width="58" height="58" />
    <icon src="resources/ios/icon/icon-29@3x.png" width="87" height="87" />
    <icon src="resources/ios/icon/icon-40.png" width="40" height="40" />
    <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80" />
    <icon src="resources/ios/icon/icon-40@3x.png" width="120" height="120" />
    <icon src="resources/ios/icon/icon-50.png" width="50" height="50" />
    <icon src="resources/ios/icon/icon-50@2x.png" width="100" height="100" />
    <icon src="resources/ios/icon/icon-60.png" width="60" height="60" />
    <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120" />
    <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180" />
    <icon src="resources/ios/icon/icon-72.png" width="72" height="72" />
    <icon src="resources/ios/icon/icon-72@2x.png" width="144" height="144" />
    <icon src="resources/ios/icon/icon-76.png" width="76" height="76" />
    <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152" />
    <icon src="resources/ios/icon/icon-83.5@2x.png" width="167" height="167" />
    <icon src="resources/ios/icon/icon.png" width="57" height="57" />
    <icon src="resources/ios/icon/icon@2x.png" width="114" height="114" />
    <splash src="resources/ios/splash/Default@2x~universal~anyany.png" />
</platform>
<preference name="StatusBarOverlaysWebView" value="false" />
<preference name="fullscreen" value="false" />
<preference name="LoadUrlTimeoutValue" value="70000" />
<preference name="AutoHideSplashScreen" value="false" />
<preference name="ShowSplashScreenSpinner" value="false"/>
<preference name="FadeSplashScreen" value="false"/>
<preference name="SplashShowOnlyFirstTime" value="false" />
<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="DisallowOverscroll" value="true"/>
<preference name="SuppressesLongPressGesture" value="true" />
<preference value="none" name="permissions"/>
<preference name="NativeXHRLogging" value="none" />
<preference name="AllowUntrustedCerts"  value="true" />
<preference name="InterceptRemoteRequests" value="secureOnly" />
<preference name="allowFileAccessFromFileURLs" value="true" />
<preference name="allowUniversalAccessFromFileURLs" value="true" />
<plugin name="@globules-io/cordova-plugin-ios-xhr" source="npm" />
<plugin name="cordova-plugin-camera" source="npm" />
<plugin name="cordova-plugin-cookiemaster" source="npm" />
<plugin name="cordova-plugin-device" source="npm" />
<plugin name="cordova-plugin-dialogs" source="npm" />
<plugin name="cordova-plugin-file" source="npm" />
<plugin name="cordova-plugin-file-opener2" source="npm" />
<plugin name="cordova-plugin-geolocation" source="npm" />
<plugin name="cordova-plugin-inappbrowser" source="npm" />
<plugin name="cordova-plugin-media" source="npm" />
<plugin name="cordova-plugin-media-capture" source="npm" />
<plugin name="cordova-plugin-network-information" source="npm" />
<plugin name="cordova-plugin-secure-key-store" source="npm" />
<plugin name="cordova-plugin-splashscreen" source="npm" />
<plugin name="cordova-plugin-statusbar" source="npm" />
<plugin name="cordova-plugin-vibration" source="npm" />
<plugin name="cordova-plugin-whitelist" source="npm" />
<plugin name="cordova-plugin-ios-faceid" source="npm" />
<plugin name="lineapro-phonegap-plugin" spec="https://github.com/S5Consulting/lineapro-neptune-phonegap-plugin.git" source="git" />
<allow-intent href="http://*/*"/>
<allow-intent href="https://*/*"/>
<allow-intent href="tel:*"/>
<allow-intent href="sms:*"/>
<allow-intent href="mailto:*"/>
<allow-intent href="geo:*"/>
<allow-navigation href="*" />
<access origin="*" subdomains="true" />
</widget>